.hello {
  width: 100%;
  min-height: 120vh;
  background-color: #011627;
}

.hello_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.left {
  width: 581px;
  height: 300px;
}
.right {
  width: 581px;
  position: relative;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}
.personal_info {
  width: 100%;
}
.greetings {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  color: #e5e9f0;
}
.name {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 81px;
  color: #e5e9f0;
  display: block;
}
.profession {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */
  color: #4d5bce;
}

.below_text {
  width: 100%;
  margin-top: 40px;
}

.comment {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  margin-bottom: 10px;
}

.github_link_cont {
  margin-top: 30px;
}
.const {
  color: #4d5bce;
}
.variable {
  color: #43d9ad;
}
.equal {
  color: #fff;
}
.value {
  text-decoration: none;
  color: #e99287;
}
.middle {
  position: relative;
  z-index: 1;
  animation: movemiddle 4s infinite forwards ease-in-out;
}

.blur1 {
  opacity: 0.3 !important;
  position: relative;
  z-index: 100;
  animation: moveblur1 4s infinite forwards ease-in-out;
}
.blur2 {
  opacity: 0.3 !important;
  position: relative;
  z-index: 1000;
  animation: moveblur2 4s infinite forwards ease-in-out;
}

.green_light {
  position: absolute;
  left: -30%;
  top: 0%;
  width: 100%;
  animation: light 4s forwards infinite;
}
.blue_light {
  position: absolute;
  left: 20%;
  bottom: -10%;
  width: 90%;
  animation: light 4s forwards infinite;
}

@keyframes moveblur1 {
  0% {
    top: 0px;
  }
  30% {
    transform: scale(1.1);
    top: 90px;
  }
  100% {
    top: 0px;
  }
}

@keyframes moveblur2 {
  0% {
    top: 0px;
  }
  30% {
    transform: scale(1.1);
    top: -90px;
  }
  100% {
    top: 0px;
  }
}

@keyframes movemiddle {
  30% {
    margin-right: 5px !important;
    transform: scale(0.3);
    /* transform: rotate(40deg); */
  }
  100% {
    /* transform: rotate(0deg); */
  }
}

@keyframes light {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 1024px) {
  .left {
    margin-top: 130px;
  }
  .hello {
    padding: 20px;
  }
  .hello_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media all and (max-width: 768px) {
  .right {
    display: none;
  }
  .hello {
    padding: 20px;
  }
  .hello_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .left {
    margin-top: 120px;
  }
  .name {
    font-size: 68px;
  }
  .profession {
    font-size: 20px;
    color: #43d9ad;
  }
  .below_text {
    width: 100%;
    margin-top: 220px;
  }
  .comment {
    font-size: 14px;
  }
  .comment::after {
    content: "";
    width: 130px;
    height: 130px;
    background-color: #4d5bce;
    opacity: 0.4;
    filter: blur(87px);
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .comment::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 10%;
    width: 230px;
    height: 230px;
    background-color: #43d9ad;
    opacity: 0.4;
    filter: blur(87px);
  }
}

@media all and (max-width: 444px) {
  .name {
    font-size: 45px;
  }
  .value {
    font-size: 13px;
  }
}
