.contact {
  width: 100%;
  min-height: 110vh;
  background-color: #011627;
}

.contact_container {
  min-height: 100vh;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top_bar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #1e2d3d;
}
.top_bar_contact {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  width: 200px;
  border-right: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  justify-content: space-between;
}
.top_bar_contact img {
  cursor: pointer;
}
.contact_cont {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}

.form {
  width: 420px;
  border-right: 1px solid #1e2d3d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.inputs_cont {
  width: 100%;
  padding: 0 20px;
}
.input_cont {
  display: flex;
  flex-direction: column;
}
.input_cont label {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  margin: 10px 0;
}
.input_cont input {
  width: 100%;
  height: 41px;
  border: 0;
  outline: 0;
  background: #011221;
  border-radius: 8px;
  padding: 0 10px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #465e77;
  display: block !important;
}
.input_cont textarea {
  width: 100%;
  height: 145px;
  background-color: #011221;
  border: 0;
  outline: 0;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #465e77;
  padding: 10px 10px;
  border-radius: 8px;
}
.submit_button_cont {
  width: 100%;
  display: flex;
  justify-content: left;
}
.submit_button_cont button {
  padding: 0 10px;
  height: 38px;
  background: #1c2b3a;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  border: 0;
  outline: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.design {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.design_main_cont {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.code {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: pre-line;
}
.line_num {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  margin-right: 15px;
  /* or 27px */
  text-align: right;
  color: #607b96;
  position: relative;
  width: 30px !important;
}

.const {
  color: #c98bdf;
  margin-right: 5px;
}
.variable {
  color: #5565e8;
}
.equal {
  color: #c98bdf;
  margin: 0 3px;
}
.value {
  color: #5565e8;
  word-wrap: break-word;
  white-space: pre-line;
}
.string {
  color: #fea55f !important;
  word-wrap: break-word;
  white-space: pre-line;
}
.bracket {
  color: #43d9ad;
}

.thank_you {
  width: 420px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 100px;
  align-items: center;
  border-right: 1px solid #1c2b3a;
}
.thank_you p {
  text-align: center;
}
.thank_you_text {
  margin: 40px 0;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #607b96;
  max-width: 550px;
}
.thank_you_title {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}
.thank_you button {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  height: 38px;
  background-color: #1c2b3a;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
}
.thank_you button:hover {
  background-color: #fea55f;
}
.section {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3;
}
.section img {
  transform: rotate(-90deg);
  transition: all 0.3;
}
.section span {
  margin-left: 15px;
  color: aliceblue;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.active_section img {
  transform: rotate(0);
  transition: all 0.3;
}
.sub_section_wrapper {
  display: flex;
  flex-direction: column;
}
.sub_section {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}
.contact_list {
  display: flex;
}
.email_contact,
.phone_contact {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.email_contact p,
.phone_contact p {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  margin-left: 8px;
}
.github_icon {
  width: 20.38px !important;
  font-size: 25px !important;
  color: #607b96 !important;
}
.left_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1022px) {
  .contact_container {
    flex-direction: column;
  }
  .top_bar {
    display: none;
  }
  .left_wrapper {
    width: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  border-radius: 50%;
  border: solid 2px #fea55f;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (max-width: 768px) {
  .design_main_cont {
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .form,
  .thank_you {
    width: 100%;
    border-right: 0;
    padding-top: 0;
    margin-top: 40px;
  }
  .thank_you {
    padding-top: 200px;
  }
  .inputs_cont {
    width: 100%;
  }
}
