.navbar {
  width: 100%;
  box-sizing: border-box;
  background-color: #011627;
}
.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1e2d3d;
  height: auto;
  box-sizing: border-box;
}
.left_main {
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  border-right: 1px solid #1e2d3d;
  padding: 20px 0;
  cursor: pointer;
  width: 250px;
}

.navbar_menu {
  display: flex;
  justify-content: center;
}
.navbar_menu li {
  list-style: none;
  display: flex;
}
.navbar_menu li a {
  text-decoration: none;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #607b96;
  border-right: 1px solid #1e2d3d;
  padding: 20px 30px;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active_link {
  border-bottom: 4px solid #fea55f !important;
}

.right a {
  text-decoration: none;
  padding: 20px 30px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  border-left: 1px solid #1e2d3d;
  text-align: right;
  color: #607b96;
}
.profile_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
  margin-right: 20px;
}
.profile_avatar img {
  width: 100%;
  border-radius: 50%;
}
.mobile_menu_icon {
  display: none;
}
.close_menu_icon {
  display: none;
}

/* ?? Media quaries */

@media screen and (max-width: 1024px) {
  .right {
    display: none;
  }

  .navbar_container {
    padding: 0 30px;
  }
  .logo {
    border-right: 1px solid transparent;
  }
  .mobile_menu_icon {
    display: block;
  }
  /* ?? Mobile menu */
  .navbar_menu {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #011627;
    z-index: 100;
    align-items: flex-start !important;
    justify-content: left;
    transition: all 0.3s ease;
  }
  .close_menu_icon {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 30px 30px;
  }
  .navbar_menu li {
    width: 100%;
  }
  .navbar_menu li a {
    width: 100%;
    border-bottom: 1px solid #1e2d3d;
  }
  .navbar_menu_active {
    left: 0 !important;
  }
}
