.profile_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_image img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 100px 0;
}

@media all and (max-width: 830px) {
  .profile_image img {
    max-width: 400px;
    width: 100%;
    margin-top: 60px;
  }
}
